In [2]:
# Importar biblioteca pyodbc:
import pyodbc
# Classe para conexão com o banco de dados:
class ConexaoBD ():
    def conectar (self):
        return pyodbc.connect (driver = '{SQL Server}', server = '.\SQLEXPRESS', database =
        'empresa', trusted_connection = 'yes')

In [3]:
# Instanciar um objeto da classe para conexão com o banco de dados:
bd = ConexaoBD ()
# Pegar uma conexão com o banco de dados:
conexao = bd.conectar ()

In [6]:
# Classe Categoria:
class Categoria:
    def __init__ (self, conexao):
        self.conexao = conexao
    def inserir (self):
        dml = ''' insert into Categoria (nome, descricao) values
        ('Telefonia', 'Aparelho telefônico'),
        ('Informática', 'Computador portátil'),
        ('Roupa', 'Vestuário'),
        ('Calçado', 'Vestuário');
        '''
        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.execute (dml)
# Instanciar objeto da classe Categoria:
categoria = Categoria (conexao)
# Inserir um registro no banco de dados:
categoria.inserir ()

# Inserção

In [14]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao
    def inserir (self):
        dml = ''' insert into Vendedor (cpf, nome, email, telefone, endereco) values
                ('111.111.111-11', 'Ana', 'ana@ana.com.br', '(11) 1 1111-1111', 'Rua n.1, n. 1, Bairro 1, Cidade 1, MG'),
                ('222.222.222-22', 'Bruno', 'bruno@bruno.com.br', '(22) 2 2222-2222', 'Rua n.2, n. 2, Bairro 2, Cidade 2, MG'),
                ('333.333.333-33', 'Carla', 'carla@carla.com.br', '(33) 3 3333-3333', 'Rua n.3, n. 3, Bairro 3, Cidade 3, MG'),
                ('444.444.444-44', 'Diego', 'diego@diego.com.br', '(44) 4 4444-4444', 'Rua n.4, n. 4, Bairro 4, Cidade 4, MG'),
                ('555.555.555-55', 'Elis', 'elis@elis.com.br', '(55) 5 5555-5555', 'Rua n.5, n. 5, Bairro 5, Cidade 5, MG'),
                ('666.666.666-66', 'Fábio', 'fabio@fabio.com.br', '(66) 6 6666-6666', 'Rua n.6, n. 6, Bairro 6, Cidade 6, MG'),
                ('777.777.777-77', 'Gisele', 'gisele@gisele.com.br', '(77) 7 7777-7777', 'Rua n.7, n. 7, Bairro 7, Cidade 7, MG'),
                ('888.888.888-88', 'Heitor', 'heitor@heitor.com.br', '(88) 8 8888-8888', 'Rua n.8, n. 8, Bairro 8, Cidade 8, MG'),
                ('999.999.999-99', 'Iris', 'iris@iris.com.br', '(99) 9 9999-9999', 'Rua n.9, n. 9, Bairro 9, Cidade 9, MG');
            '''
        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.execute (dml)
# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Inserir um registro no banco de dados:
vendedor.inserir ()

In [15]:
# Classe Produto:
class Produto:
    def __init__ (self, conexao):
        self.conexao = conexao
    def inserir (self):
        dml = ''' insert into Produto (nome, descricao, marca, id_categoria) values
                ('Celular', 'Celular 1', 'Apple', 1),
                ('Celular', 'Celular 2', 'Samsung', 1),
                ('Celular', 'Celular 3', 'Xiaomi', 1),
                ('Notebook', 'Notebook 1', 'Apple', 2),
                ('Notebook', 'Notebook 2', 'Samsung', 2),
                ('Notebook', 'Notebook 3', 'Xiaomi', 2),
                ('Camisa', 'Camisa 1', 'Nike', 3),
                ('Calça', 'Calça 1', 'Nike', 3),
                ('Tênis', 'Tênis 1', 'Nike', 4),
                ('Camisa', 'Camisa 2', 'Adidas', 3),
                ('Calça', 'Calça 2', 'Adidas', 3),
                ('Tênis', 'Tênis 2', 'Adidas', 4),
                ('Camisa', 'Camisa 3', 'Zara', 3),
                ('Calça', 'Calça 3', 'Zara', 3),
                ('Tênis', 'Tênis 3', 'Zara', 4);
            '''
        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.execute (dml)
# Instanciar objeto da classe Vendedor:
produto = Produto (conexao)
# Inserir um registro no banco de dados:
produto.inserir ()

In [18]:
# Classe VendedorProduto:
class VendedorProduto:
    def __init__ (self, conexao):
        self.conexao = conexao
    def inserir (self):
        dml = ''' insert into VendedorProduto (cpf_vendedor, id_produto, quantidade, preco)
                values('111.111.111-11', 1, 2, 4000),
                    ('111.111.111-11', 13, 3, 3000),
                    ('111.111.111-11', 3, 4, 1000),
                    ('111.111.111-11', 12, 2, 110),
                    ('222.222.222-22', 4, 3, 5000),
                    ('222.222.222-22', 5, 5, 4000),
                    ('222.222.222-22', 6, 6, 3000),
                    ('333.333.333-33', 7, 10, 50),
                    ('333.333.333-33', 14, 2, 88),
                    ('555.555.555-55', 7, 10, 45),
                    ('666.666.666-66', 9, 3, 120),
                    ('666.666.666-66', 14, 8, 78),
                    ('888.888.888-88', 10, 0, 40),
                    ('999.999.999-99', 11, 0, 87),
                    ('999.999.999-99', 1, 1, 5000);
            '''
        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.execute (dml)
# Instanciar objeto da classe Vendedor:
vendedor_produto = VendedorProduto (conexao)
# Inserir um registro no banco de dados:
vendedor_produto.inserir ()

# select

In [21]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao

    def buscar (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor, v.email as 'E-mail'
            from Vendedor v
            '''
        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.execute (sql)
            for linha in cursor:
                print (linha)
# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Ler os registros do banco de dados:
vendedor.buscar ()

('111.111.111-11', 'Ana', 'ana@ana.com.br')
('12345678922', 'Augusto', 'augusto_jvs@hotmail.com')
('222.222.222-22', 'Bruno', 'bruno@bruno.com.br')
('333.333.333-33', 'Carla', 'carla@carla.com.br')
('444.444.444-44', 'Diego', 'diego@diego.com.br')
('555.555.555-55', 'Elis', 'elis@elis.com.br')
('666.666.666-66', 'Fábio', 'fabio@fabio.com.br')
('777.777.777-77', 'Gisele', 'gisele@gisele.com.br')
('888.888.888-88', 'Heitor', 'heitor@heitor.com.br')
('999.999.999-99', 'Iris', 'iris@iris.com.br')

# Pandas

In [7]:
# Importar a biblioteca Pandas:
import pandas as pd

In [28]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao

    def buscarPandas (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor, v.email as 'E-mail'
                from Vendedor v
            '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Ler os registros do banco de dados:
vendedor.buscarPandas ()

CPF Vendedor                   E-mail
0  111.111.111-11      Ana           ana@ana.com.br
1     12345678922  Augusto  augusto_jvs@hotmail.com
2  222.222.222-22    Bruno       bruno@bruno.com.br
3  333.333.333-33    Carla       carla@carla.com.br
4  444.444.444-44    Diego       diego@diego.com.br
5  555.555.555-55     Elis         elis@elis.com.br
6  666.666.666-66    Fábio       fabio@fabio.com.br
7  777.777.777-77   Gisele     gisele@gisele.com.br
8  888.888.888-88   Heitor     heitor@heitor.com.br
9  999.999.999-99     Iris         iris@iris.com.br
<class 'pandas.core.frame.DataFrame'>

# where

In [33]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao
    def pesquisarPandas (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor,
            p.nome as Produto, p.marca as Marca,
            c.nome as Categoria,
            vp.quantidade as Qtde, vp.preco as Preco
            from Vendedor v, VendedorProduto vp, Produto p, Categoria c
            where v.cpf = vp.cpf_vendedor and
            vp.id = p.id and
            p.id_categoria = c.id;
        '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Ler os registros do banco de dados:
vendedor.pesquisarPandas ()

CPF Vendedor Produto      Marca              Categoria  Qtde  \
0     12345678922  Augusto    Peão  non saber                   Peão     5
1  111.111.111-11      Ana   Tênis       Nike                 livros     2
2  111.111.111-11      Ana  Camisa     Adidas  Utensilhos domesticos     3
3  111.111.111-11      Ana   Calça     Adidas  Utensilhos domesticos     4
4  111.111.111-11      Ana   Tênis     Adidas                 livros     2
5  222.222.222-22    Bruno  Camisa       Zara  Utensilhos domesticos     3
6  222.222.222-22    Bruno   Calça       Zara  Utensilhos domesticos     5
7  222.222.222-22    Bruno   Tênis       Zara                 livros     6

    Preco
0    26.0
1  4000.0
2  3000.0
3  1000.0
4   110.0
5  5000.0
6  4000.0
7  3000.0
<class 'pandas.core.frame.DataFrame'>

# like

In [34]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor
            from Vendedor v
            where v.nome like '%rl%';
            '''

        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Pesquisa:
vendedor.buscar ()

CPF Vendedor
0  333.333.333-33    Carla
<class 'pandas.core.frame.DataFrame'>

# between

In [35]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor, p.nome as Produto, vp.preco as Preço
            from Vendedor v, VendedorProduto vp, Produto p
            where v.cpf = vp.cpf_vendedor and
            vp.id_produto = p.id and
            vp.preco between 80 and 200;
            '''

        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Pesquisa:
vendedor.buscar ()

CPF Vendedor Produto  Preço
0  111.111.111-11      Ana  Camisa  110.0
1  333.333.333-33    Carla   Tênis   88.0
2  666.666.666-66    Fábio  Camisa  120.0
3  999.999.999-99     Iris   Tênis   87.0
<class 'pandas.core.frame.DataFrame'>

# distinct

In [36]:
# Classe Produto:
class Produto:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select distinct p.nome as Produto
            from Produto p
            '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
produto = Produto (conexao)
# Inserir um registro no banco de dados:
produto.buscar ()

Produto
0     Calça
1    Camisa
2   Celular
3  Notebook
4      Peão
5     Tênis
<class 'pandas.core.frame.DataFrame'>

# Subconsulta (in)

In [37]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor
            from Vendedor v
            where v.cpf in (select vp.cpf_vendedor
            from VendedorProduto vp);
            '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Ler os registros do banco de dados:
vendedor.buscar ()

CPF Vendedor
0  111.111.111-11      Ana
1     12345678922  Augusto
2  222.222.222-22    Bruno
3  333.333.333-33    Carla
4  555.555.555-55     Elis
5  666.666.666-66    Fábio
6  888.888.888-88   Heitor
7  999.999.999-99     Iris
<class 'pandas.core.frame.DataFrame'>

# Subconsulta (exists)

In [38]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor
            from Vendedor v
            where exists (select vp.cpf_vendedor
            from VendedorProduto vp
            where v.cpf = vp.cpf_vendedor);
            '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Ler os registros do banco de dados:
vendedor.buscar ()

CPF Vendedor
0  111.111.111-11      Ana
1     12345678922  Augusto
2  222.222.222-22    Bruno
3  333.333.333-33    Carla
4  555.555.555-55     Elis
5  666.666.666-66    Fábio
6  888.888.888-88   Heitor
7  999.999.999-99     Iris
<class 'pandas.core.frame.DataFrame'>

# Subconsulta (not in)

In [40]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor
            from Vendedor v
            where v.cpf not in (select vp.cpf_vendedor
            from VendedorProduto vp);
            '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Ler os registros do banco de dados:
vendedor.buscar ()

CPF Vendedor
0  444.444.444-44    Diego
1  777.777.777-77   Gisele
<class 'pandas.core.frame.DataFrame'>

# Subconsulta (not exists)

In [42]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor
            from Vendedor v
            where not exists (select vp.cpf_vendedor
            from VendedorProduto vp
            where v.cpf = vp.cpf_vendedor);
            '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Ler os registros do banco de dados:
vendedor.buscar ()

CPF Vendedor
0  444.444.444-44    Diego
1  777.777.777-77   Gisele
<class 'pandas.core.frame.DataFrame'>

# Função agregada max

In [44]:
# Classe VendedorProduto:
class VendedorProduto:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select max (preco) as 'Preço Máximo'
            from VendedorProduto
            '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
vendedor_produto = VendedorProduto (conexao)
# Pesquisar:
vendedor_produto.buscar ()

Preço Máximo
0        5000.0
<class 'pandas.core.frame.DataFrame'>

# Função agregada min

In [46]:
# Classe VendedorProduto:
class VendedorProduto:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select min (preco) as 'Preço Máximo'
            from VendedorProduto
            '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
vendedor_produto = VendedorProduto (conexao)
# Pesquisar:
vendedor_produto.buscar ()

Preço Máximo
0          26.0
<class 'pandas.core.frame.DataFrame'>

# Função agregada avg

In [48]:
# Classe VendedorProduto:
class VendedorProduto:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select avg (preco) as 'Preço Máximo'
            from VendedorProduto
            '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
vendedor_produto = VendedorProduto (conexao)
# Pesquisar:
vendedor_produto.buscar ()

Preço Máximo
0       1602.75
<class 'pandas.core.frame.DataFrame'>

# Função agregada sum

In [50]:
# Classe VendedorProduto:
class VendedorProduto:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select sum (preco) as 'Preço Máximo'
            from VendedorProduto
            '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
vendedor_produto = VendedorProduto (conexao)
# Pesquisar:
vendedor_produto.buscar ()

Preço Máximo
0       25644.0
<class 'pandas.core.frame.DataFrame'>

# Função agregada count

In [53]:
# Classe VendedorProduto:
class VendedorProduto:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select count (id) as 'Contagem'
            from VendedorProduto
            '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
vendedor_produto = VendedorProduto (conexao)
# Pesquisar:
vendedor_produto.buscar ()

Contagem
0        16
<class 'pandas.core.frame.DataFrame'>

# group by

In [55]:
# Classe Produto:
class Produto:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select p.nome as Produto, c.nome as Categoria, vp.quantidade as Qtde, vp.preco as Preco
        from Produto p, Categoria c, VendedorProduto vp
        where vp.id_produto = p.id and
        p.id_categoria = c.id
        group by p.nome, c.nome, vp.quantidade, vp.preco
        '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
produto = Produto (conexao)
# Pesquisar:
produto.buscar ()

Produto              Categoria  Qtde   Preco
0      Calça  Utensilhos domesticos     0    40.0
1      Calça  Utensilhos domesticos     3  3000.0
2     Camisa  Utensilhos domesticos     2   110.0
3     Camisa  Utensilhos domesticos     3   120.0
4    Celular                   Peão     3  5000.0
5    Celular                   Peão     4  1000.0
6    Celular                   Peão     5  4000.0
7   Notebook              celulares     6  3000.0
8   Notebook              celulares    10    45.0
9   Notebook              celulares    10    50.0
10      Peão                   Peão     1  5000.0
11      Peão                   Peão     2  4000.0
12      Peão                   Peão     5    26.0
13     Tênis                 livros     0    87.0
14     Tênis                 livros     2    88.0
15     Tênis                 livros     8    78.0
<class 'pandas.core.frame.DataFrame'>

# having

In [57]:
# Classe Produto:
class Produto:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select p.nome as Produto, c.nome as Categoria, vp.quantidade as Qtde, vp.preco as Preco
            from Produto p, Categoria c, VendedorProduto vp
            where vp.id_produto = p.id and
            p.id_categoria = c.id
            group by p.nome, c.nome, vp.quantidade, vp.preco
            having vp.preco > 500
            '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
produto = Produto (conexao)
# Pesquisar:
produto.buscar ()

Produto              Categoria  Qtde   Preco
0     Calça  Utensilhos domesticos     3  3000.0
1   Celular                   Peão     3  5000.0
2   Celular                   Peão     4  1000.0
3   Celular                   Peão     5  4000.0
4  Notebook              celulares     6  3000.0
5      Peão                   Peão     1  5000.0
6      Peão                   Peão     2  4000.0
<class 'pandas.core.frame.DataFrame'>

# order by

In [59]:
# Classe Produto:
class Produto:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select p.nome as Produto, c.nome as Categoria, vp.quantidade as Qtde, vp.preco as Preço
            from Produto p, Categoria c, VendedorProduto vp
            where vp.id_produto = p.id and
            p.id_categoria = c.id
            group by p.nome, c.nome, vp.quantidade, vp.preco
            having vp.preco > 500
            order by c.nome asc, vp.preco desc
        '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
produto = Produto (conexao)
# Pesquisar:
produto.buscar ()

Produto              Categoria  Qtde   Preço
0  Notebook              celulares     6  3000.0
1   Celular                   Peão     3  5000.0
2      Peão                   Peão     1  5000.0
3   Celular                   Peão     5  4000.0
4      Peão                   Peão     2  4000.0
5   Celular                   Peão     4  1000.0
6     Calça  Utensilhos domesticos     3  3000.0
<class 'pandas.core.frame.DataFrame'>

# inner join

In [68]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor, vp.quantidade as Qtde, vp.preco as Preço, p.nome as Produto, c.nome as                   Categoria from Vendedor v
            inner join VendedorProduto vp on v.cpf = vp.cpf_vendedor
            inner join Produto p on vp.id_produto = p.id
            inner join Categoria c on p.id_categoria = c.id
            order by v.cpf;
            '''

        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
 # Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Pesquisa:
vendedor.buscar ()

CPF Vendedor  Qtde   Preço   Produto              Categoria
0   111.111.111-11      Ana     2  4000.0      Peão                   Peão
1   111.111.111-11      Ana     3  3000.0     Calça  Utensilhos domesticos
2   111.111.111-11      Ana     4  1000.0   Celular                   Peão
3   111.111.111-11      Ana     2   110.0    Camisa  Utensilhos domesticos
4      12345678922  Augusto     5    26.0      Peão                   Peão
5   222.222.222-22    Bruno     3  5000.0   Celular                   Peão
6   222.222.222-22    Bruno     5  4000.0   Celular                   Peão
7   222.222.222-22    Bruno     6  3000.0  Notebook              celulares
8   333.333.333-33    Carla    10    50.0  Notebook              celulares
9   333.333.333-33    Carla     2    88.0     Tênis                 livros
10  555.555.555-55     Elis    10    45.0  Notebook              celulares
11  666.666.666-66    Fábio     3   120.0    Camisa  Utensilhos domesticos
12  666.666.666-66    Fábio     8    78.0     Tênis                 livros
13  888.888.888-88   Heitor     0    40.0     Calça  Utensilhos domesticos
14  999.999.999-99     Iris     0    87.0     Tênis                 livros
15  999.999.999-99     Iris     1  5000.0      Peão                   Peão
<class 'pandas.core.frame.DataFrame'>

# left join

In [69]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor, vp.quantidade as Qtde, vp.preco as Preço
            , p.nome as Produto, c.nome as Categoria
            from Vendedor v
            left join VendedorProduto vp on v.cpf = vp.cpf_vendedor
            left join Produto p on vp.id_produto = p.id
            left join Categoria c on p.id_categoria = c.id
            order by v.cpf;
            '''

        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Pesquisa:
vendedor.buscar ()

CPF Vendedor  Qtde   Preço   Produto              Categoria
0   111.111.111-11      Ana   2.0  4000.0      Peão                   Peão
1   111.111.111-11      Ana   3.0  3000.0     Calça  Utensilhos domesticos
2   111.111.111-11      Ana   4.0  1000.0   Celular                   Peão
3   111.111.111-11      Ana   2.0   110.0    Camisa  Utensilhos domesticos
4      12345678922  Augusto   5.0    26.0      Peão                   Peão
5   222.222.222-22    Bruno   3.0  5000.0   Celular                   Peão
6   222.222.222-22    Bruno   5.0  4000.0   Celular                   Peão
7   222.222.222-22    Bruno   6.0  3000.0  Notebook              celulares
8   333.333.333-33    Carla  10.0    50.0  Notebook              celulares
9   333.333.333-33    Carla   2.0    88.0     Tênis                 livros
10  444.444.444-44    Diego   NaN     NaN      None                   None
11  555.555.555-55     Elis  10.0    45.0  Notebook              celulares
12  666.666.666-66    Fábio   3.0   120.0    Camisa  Utensilhos domesticos
13  666.666.666-66    Fábio   8.0    78.0     Tênis                 livros
14  777.777.777-77   Gisele   NaN     NaN      None                   None
15  888.888.888-88   Heitor   0.0    40.0     Calça  Utensilhos domesticos
16  999.999.999-99     Iris   0.0    87.0     Tênis                 livros
17  999.999.999-99     Iris   1.0  5000.0      Peão                   Peão
<class 'pandas.core.frame.DataFrame'>

# right join

In [70]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor, vp.quantidade as Qtde, vp.preco as Preço
            , p.nome as Produto, c.nome as Categoria
            from Vendedor v
            right join VendedorProduto vp on v.cpf = vp.cpf_vendedor
            right join Produto p on vp.id_produto = p.id
            right join Categoria c on p.id_categoria = c.id
            order by v.cpf;
            '''

        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Pesquisa:
vendedor.buscar ()

CPF Vendedor  Qtde   Preço   Produto              Categoria
0             None     None   NaN     NaN  Notebook              celulares
1             None     None   NaN     NaN     Tênis                 livros
2             None     None   NaN     NaN      None      eletroeletrônicos
3             None     None   NaN     NaN      None              alimentos
4             None     None   NaN     NaN      None               Esportes
5             None     None   NaN     NaN      None                cozinha
6             None     None   NaN     NaN      None              Telefonia
7             None     None   NaN     NaN      None            Informática
8             None     None   NaN     NaN      None                  Roupa
9             None     None   NaN     NaN      None                Calçado
10            None     None   NaN     NaN    Camisa  Utensilhos domesticos
11            None     None   NaN     NaN     Calça  Utensilhos domesticos
12  111.111.111-11      Ana   2.0   110.0    Camisa  Utensilhos domesticos
13  111.111.111-11      Ana   3.0  3000.0     Calça  Utensilhos domesticos
14  111.111.111-11      Ana   2.0  4000.0      Peão                   Peão
15  111.111.111-11      Ana   4.0  1000.0   Celular                   Peão
16     12345678922  Augusto   5.0    26.0      Peão                   Peão
17  222.222.222-22    Bruno   3.0  5000.0   Celular                   Peão
18  222.222.222-22    Bruno   5.0  4000.0   Celular                   Peão
19  222.222.222-22    Bruno   6.0  3000.0  Notebook              celulares
20  333.333.333-33    Carla  10.0    50.0  Notebook              celulares
21  333.333.333-33    Carla   2.0    88.0     Tênis                 livros
22  555.555.555-55     Elis  10.0    45.0  Notebook              celulares
23  666.666.666-66    Fábio   3.0   120.0    Camisa  Utensilhos domesticos
24  666.666.666-66    Fábio   8.0    78.0     Tênis                 livros
25  888.888.888-88   Heitor   0.0    40.0     Calça  Utensilhos domesticos
26  999.999.999-99     Iris   1.0  5000.0      Peão                   Peão
27  999.999.999-99     Iris   0.0    87.0     Tênis                 livros
<class 'pandas.core.frame.DataFrame'>

# full join

In [71]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor, vp.quantidade as Qtde, vp.preco as Preço
            , p.nome as Produto, c.nome as Categoria
            from Vendedor v
            full join VendedorProduto vp on v.cpf = vp.cpf_vendedor
            full join Produto p on vp.id_produto = p.id
            full join Categoria c on p.id_categoria = c.id
            order by v.cpf;
            '''

        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Pesquisa:
vendedor.buscar ()

CPF Vendedor  Qtde   Preço   Produto              Categoria
0             None     None   NaN     NaN    Camisa  Utensilhos domesticos
1             None     None   NaN     NaN     Calça  Utensilhos domesticos
2             None     None   NaN     NaN     Tênis                 livros
3             None     None   NaN     NaN  Notebook              celulares
4             None     None   NaN     NaN      None                  Roupa
5             None     None   NaN     NaN      None              alimentos
6             None     None   NaN     NaN      None               Esportes
7             None     None   NaN     NaN      None              Telefonia
8             None     None   NaN     NaN      None                Calçado
9             None     None   NaN     NaN      None      eletroeletrônicos
10            None     None   NaN     NaN      None            Informática
11            None     None   NaN     NaN      None                cozinha
12  111.111.111-11      Ana   2.0  4000.0      Peão                   Peão
13  111.111.111-11      Ana   3.0  3000.0     Calça  Utensilhos domesticos
14  111.111.111-11      Ana   4.0  1000.0   Celular                   Peão
15  111.111.111-11      Ana   2.0   110.0    Camisa  Utensilhos domesticos
16     12345678922  Augusto   5.0    26.0      Peão                   Peão
17  222.222.222-22    Bruno   3.0  5000.0   Celular                   Peão
18  222.222.222-22    Bruno   5.0  4000.0   Celular                   Peão
19  222.222.222-22    Bruno   6.0  3000.0  Notebook              celulares
20  333.333.333-33    Carla  10.0    50.0  Notebook              celulares
21  333.333.333-33    Carla   2.0    88.0     Tênis                 livros
22  444.444.444-44    Diego   NaN     NaN      None                   None
23  555.555.555-55     Elis  10.0    45.0  Notebook              celulares
24  666.666.666-66    Fábio   3.0   120.0    Camisa  Utensilhos domesticos
25  666.666.666-66    Fábio   8.0    78.0     Tênis                 livros
26  777.777.777-77   Gisele   NaN     NaN      None                   None
27  888.888.888-88   Heitor   0.0    40.0     Calça  Utensilhos domesticos
28  999.999.999-99     Iris   0.0    87.0     Tênis                 livros
29  999.999.999-99     Iris   1.0  5000.0      Peão                   Peão
<class 'pandas.core.frame.DataFrame'>

# cross join

In [72]:
# Classe Produto:
class Produto:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select p.nome as Produto, c.nome as Categoria
            from Produto p
            cross join Categoria c
            order by p.nome, c.nome;
            '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
produto = Produto (conexao)
# Pesquisar:
produto.buscar ()

Produto              Categoria
0     Calça              alimentos
1     Calça              alimentos
2     Calça              alimentos
3     Calça                Calçado
4     Calça                Calçado
..      ...                    ...
187   Tênis              Telefonia
188   Tênis              Telefonia
189   Tênis  Utensilhos domesticos
190   Tênis  Utensilhos domesticos
191   Tênis  Utensilhos domesticos

[192 rows x 2 columns]
<class 'pandas.core.frame.DataFrame'>

# Exercício

* 1) Quais vendedores possuem o nome terminado com a letra “s”?

In [83]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select v.nome as Vendedor
            from Vendedor v
            where v.nome like '%s';
            '''

        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Pesquisa:
vendedor.buscar ()

Vendedor
0     Elis
1     Iris
<class 'pandas.core.frame.DataFrame'>

* 2) Quais vendedores possuem produtos com valor entre $10 e $50 ou entre $100 e $500?

In [10]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select v.nome as Vendedor
            from Vendedor v, VendedorProduto vp, Produto p
            where v.cpf = vp.cpf_vendedor and
            vp.id_produto = p.id and
            vp.preco between 10 and 50 or vp.preco between 100 and 500
            group by v.nome;
            '''

        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Pesquisa:
vendedor.buscar ()

Vendedor
0      Ana
1  Augusto
2    Bruno
3    Carla
4    Diego
5     Elis
6    Fábio
7   Gisele
8   Heitor
9     Iris
<class 'pandas.core.frame.DataFrame'>

* 3) Se Ana vender todos os seu produtos, quanto ela receberá?

In [102]:
# Classe VendedorProduto:
class VendedorProduto:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select sum (preco * quantidade) as 'Preço Máximo'
            from VendedorProduto vp, Vendedor v where vp.cpf_vendedor = v.cpf and v.nome = 'Ana'
            '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
vendedor_produto = VendedorProduto (conexao)
# Pesquisar:
vendedor_produto.buscar ()

Preço Máximo
0       21220.0
<class 'pandas.core.frame.DataFrame'>

* 4) Se todos os vendedores venderem todos os seu produtos, qual será o total apurado nas
vendas?

In [103]:
# Classe VendedorProduto:
class VendedorProduto:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select sum (preco * quantidade) as 'Preço Máximo'
            from VendedorProduto vp, Vendedor v where vp.cpf_vendedor = v.cpf
            '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
vendedor_produto = VendedorProduto (conexao)
# Pesquisar:
vendedor_produto.buscar ()

Preço Máximo
0       81460.0
<class 'pandas.core.frame.DataFrame'>

* 5) Se todos os vendedores venderem todos os seu produtos, quem receberá o maior valor?

In [12]:
# Classe VendedorProduto:
class VendedorProduto:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select top 1 v.nome, sm.vendas from (select cpf_vendedor, sum (preco * quantidade) as 'vendas'
              from VendedorProduto
              group by cpf_vendedor) as sm inner join Vendedor v on v.cpf = sm.cpf_vendedor order by sm.vendas desc
            '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
vendedor_produto = VendedorProduto (conexao)
# Pesquisar:
vendedor_produto.buscar ()

nome   vendas
0  Bruno  53000.0
<class 'pandas.core.frame.DataFrame'>

* 6) Se todos os vendedores venderem todos os seu produtos, qual será o valor médio das
vendas?

In [13]:
# Classe VendedorProduto:
class VendedorProduto:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select cast(avg(vendas) as decimal(10, 2)) from (select sum (preco * quantidade) as 'vendas'
              from VendedorProduto
              group by cpf_vendedor) as sm
            '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
vendedor_produto = VendedorProduto (conexao)
# Pesquisar:
vendedor_produto.buscar ()

0  10182.5
<class 'pandas.core.frame.DataFrame'>

* 7) Se todos os vendedores venderem todos os seu produtos, quem receberá acima da
média?

In [14]:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao

    def buscar (self):
        sql = '''select v.nome, sm.vendas from  (select cpf_vendedor, sum (preco * quantidade) as 'vendas'
              from VendedorProduto
              group by cpf_vendedor) as sm inner join Vendedor v on v.cpf = sm.cpf_vendedor where sm.vendas > (select avg(sm1.vendas) from                  (select sum (preco * quantidade) as 'vendas'
              from VendedorProduto
              group by cpf_vendedor) as sm1) 
              
        '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

vendedor = Vendedor (conexao)

vendedor.buscar ()

nome   vendas
0    Ana  21220.0
1  Bruno  53000.0
<class 'pandas.core.frame.DataFrame'>