# Importar biblioteca pyodbc:

In [1]:
import pyodbc

In [2]:
# Gerar conexão com o banco de dados

class ConexaoBD ():
    def conexao (self):
        return pyodbc.connect (driver = '{SQL Server}', server = '.\SQLEXPRESS', database = 'empresa', trusted_connection = 'yes')

 #Pegar a conexão com o banco de dados
        
bd = ConexaoBD ()
c = bd.conexao ()

In [4]:

# Classe Categoria:
class Categoria:
    def __init__ (self, conexao):
        self.conexao = conexao

    def criar (self):
        ddl = '''
            create table Categoria (
            id int primary key identity (1, 1),
            nome varchar (32),
            descricao text
            );
            '''
        with self.conexao:
            self.conexao.execute (ddl)

categoria = Categoria (c)
categoria.criar()

In [5]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao

    def criar (self):
        ddl = '''
            create table Vendedor (
            cpf varchar(14) primary key,
            nome varchar (128),
            email varchar(128),
            telefone varchar(20),
            endereco varchar(256)
            );
            '''
        with self.conexao:
            self.conexao.execute (ddl)

vendedor = Vendedor (c)
vendedor.criar()

In [6]:
# Classe Produto:
class Produto:
    def __init__ (self, conexao):
        self.conexao = conexao

    def criar (self):
        ddl = '''
            create table Produto (
            id int primary key identity(1,1),
            nome varchar(128),
            descricao text,
            marca varchar(32),
            id_categoria int foreign key references Categoria (id)
            );
            '''
        with self.conexao:
            self.conexao.execute (ddl)

produto = Produto (c)
produto.criar()

In [7]:
# Classe VendedorProduto:
class VendedorProduto:
    def __init__ (self, conexao):
        self.conexao = conexao

    def criar (self):
        ddl = '''
            create table VendedorProduto (
            id int primary key identity (1,1),
            cpf_vendedor varchar(14) foreign key references Vendedor(cpf),
            id_produto int foreign key references Produto(id),
            quantidade int,
            preco decimal
            );
            '''
        with self.conexao:
            self.conexao.execute (ddl)

vendedorproduto = VendedorProduto (c)
vendedorproduto.criar()

In [9]:
# Leitura dos dados da tabela
# Tabela Categoria

class Categoria():
    def __init__(self, conexao):
        self.conexao = conexao
    def conexao(self):
        return pyodbc.connect(driver = '{SQL Server}', server = 'localhost\SQLEXPRESS', database= 'empresa', trusted_connection = 'yes')
    
    bd = ConexaoBD()
    c = bd.conexao()

    def ler(self):
        cursor = self.conexao.cursor()
        cursor.execute("select * from Categoria;")
        for linha in cursor:
            print(linha)

categoria = Categoria(c)
categoria.ler()

(1, 'Massas', 'Ricas em carboidratos e vitaminas')
(2, 'Proteinas', 'Ricas em vitaminas e macronutrientes')
(3, 'Gorduras', 'Ricas em lípidios e omega 3')

In [10]:
# Leitura dos dados da tabela
# Tabela Produto

class Produto():
    def __init__(self, conexao):
        self.conexao = conexao
    def conexao(self):
        return pyodbc.connect(driver = '{SQL Server}', server = 'localhost\SQLEXPRESS', database= 'empresa', trusted_connection = 'yes')
    
    bd = ConexaoBD()
    c = bd.conexao()

    def ler(self):
        cursor = self.conexao.cursor()
        cursor.execute("select * from Produto;")
        for linha in cursor:
            print(linha)

produto = Produto(c)
produto.ler()

(1, 'Macarrão Vilma', 'Massa tamanho 8 com ovos', 'Vilma Alimentos', 1)
(3, 'Ovo', 'Ovo de galinha caipira', 'Elshaday Alimentos', 2)
(4, 'Oleo de girassol', 'Óleo rico em vitamina E', 'Supremo Alimentos', 3)

In [11]:
# Leitura dos dados da tabela
# Tabela Vendedor

class Vendedor():
    def __init__(self, conexao):
        self.conexao = conexao
    def conexao(self):
        return pyodbc.connect(driver = '{SQL Server}', server = 'localhost\SQLEXPRESS', database= 'empresa', trusted_connection = 'yes')
    
    bd = ConexaoBD()
    c = bd.conexao()

    def ler(self):
        cursor = self.conexao.cursor()
        cursor.execute("select * from Vendedor;")
        for linha in cursor:
            print(linha)

vendedor = Vendedor(c)
vendedor.ler()

('128.156.898-98', 'Arnaldo Sacomani', 'arnaldoFulero@ig.gov.uk', '(31)99220-6888', 'DR. Afonso Neves, Itapoã, Pampulha')
('888.555.444-66', 'Julio Sacomani', 'julioFulero@ig.gov.uk', '(31)98578-3333', 'DR. Afonso Neves, Itapoã, Pampulha')

In [12]:
# Leitura dos dados da tabela
# Tabela VendedorProduto

class VendedorProduto():
    def __init__(self, conexao):
        self.conexao = conexao
    def conexao(self):
        return pyodbc.connect(driver = '{SQL Server}', server = 'localhost\SQLEXPRESS', database= 'empresa', trusted_connection = 'yes')
    
    bd = ConexaoBD()
    c = bd.conexao()

    def ler(self):
        cursor = self.conexao.cursor()
        cursor.execute("select * from VendedorProduto;")
        for linha in cursor:
            print(linha)

vendedorproduto = VendedorProduto(c)
vendedorproduto.ler()

(6, '888.555.444-66', 3, 5, Decimal('9'))
(7, '888.555.444-66', 4, 10, Decimal('6'))
(8, '128.156.898-98', 3, 5, Decimal('9'))
(9, '128.156.898-98', 1, 7, Decimal('11'))